.App {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

header, main, footer {
  width: inherit;
  max-width: inherit;
  max-height: inherit;
}

ul {
  list-style: none;
}

.container ul {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 20px;
  justify-content: center;
  min-height: 100vh;
}

.residence {
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    font-size: 1.67rem;
  }

}

.house {
  background: linear-gradient(to top right, #d32f2f, #e57373);
  width: 100px;
  height: 100px;
}

.yellow {
  background: linear-gradient(to top right, #fbc02d  , #fff176);
}

.green {
  background: linear-gradient(to top right, #00796b, #4db6ac);
}

.red {
  background: linear-gradient(to top right, #d32f2f, #e57373);;
}